@import url(prefixer.less);

@baseFontColor: #333;
@grayFontColor: #666;
@lightgrayFontColor: #999;
@bgGray: #f7f7f5;
@orange: #df5453;
@deepBlue: #415c71;

// fonts
@font-face {
    font-family: "TitleFont";
    src: url(../fonts/title-font.woff) format("woff");
}

// common class

// page
.cy-page, .cy-page-zone {
    display: block;
}

// ul
.unstyled-list {
    padding-left: 0;
    list-style: none;
}

// a
.cy-link {
    color: @baseFontColor;
    text-decoration: none;
}

// ih-item
.ih-item {
    position: relative;
    .transition(e("all 0.35s ease-in-out"));
}
.ih-item {
    .img,.img-inner {
	    width: 100%;
	    height: 100%;
	}
}
.ih-item.circle {
    position: relative;
    width: 8rem;
    height: 8rem;
    
    .border-radius(50%);

    .info {
    	position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    .border-radius(50%);
	    text-align: center;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
    }
    .img-inner {
		.border-radius(50%);
	}
}

.ih-item.circle.effect15 {
	.img {
		opacity: 1;
    	visibility: visible;
    	.transition(e("all 0.35s ease-in-out"));
    	.transform(e("scale(1) rotate(0)"));
	}
	.info {
	    opacity: 0;
	    visibility: hidden;
	    background-color: #333;
	    .transition(e("all 0.35s ease-in-out .3s"));
    	.transform(e("scale(.5) rotate(-360deg)"));
    	h3 {

    	}
	}
	a:hover {
		.img {
			opacity: 0;
			visibility: hidden;
			.transform(e("scale(.5) rotate(360deg)"));
		}
		.info {
			opacity: 1;
			visibility: visible;
			.transform(e("scale(1) rotate(0)"));
		}
	}
}


.ih-item.circle.effect3.right_to_left {
	.img {
		z-index: 11;
		.transition(e("all 0.35s ease-in-out"));
    	.transform(e("scale(1) translateX(0)"));
	}
	.info {
		background-color: #333;
		opacity: 0;
		.transition(e("all 0.35s ease-in-out"));
    	.transform(e("translateX(100%)"));
	}
	a:hover {
		.img {
			.transform(e("scale(0.5) translateX(-100%)"));
		}
		.info {
			opacity: 1;
			.transform(e("translateX(0)"));
		}
	}
}

// cy menu
.cy-menu {
    position: relative;
    z-index: 999;

    display: inline-block;
    max-width: 500px;

    text-align: left;
    font-family: "TitleFont";
    background-color: white;
}
.cy-subitems-zone {
    position: absolute;

    width: 100%;
    overflow: hidden;

    background-color: transparent;
    visibility: visible;
}
.cy-subitem-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    &:before {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        content: '';
        background-color: #fff;

        .transform(e("scale3d(1,0,1)"));
        .transform-origin(e("50% 0%"));
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .cy-subitem {
        display: block;
        padding: 8px 16px;

        font-size: .8rem;
        color: @baseFontColor;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        opacity: 0;
        background-color: white;

        .transform(e("translate3d(0,-25px,0)"));
        -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
        transition: opacity 0.15s, transform 0.15s;
    }
}
.cy-main-item {
    display: block;
    position: relative;
    padding: 16px;

    font-size: 1rem;
    cursor: pointer;
}
.cy-menu:hover .cy-subitems-zone {
    pointer-events: auto;
    visibility: visible;
    .cy-subitem-list {
        &:before {
            .transform(e("scale3d(1,1,1)"));
            .transition(e("none"));
            -webkit-animation: expand 0.6s ease-out;
            animation: expand 0.6s ease-out;
        }
    }
    .cy-subitem {
        opacity: 1;
        cursor: pointer;

        .transform(e("translate3d(0,0,0)"));
        .transition(e("none"));
        -webkit-animation: bounce 0.6s ease-out;
        animation: bounce 0.6s ease-out;
    }
}

@-webkit-keyframes expand { 
    0% { -webkit-transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1) }
    100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
    0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
    25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
    50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
    75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
    100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

@-webkit-keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0);  }
    50% { -webkit-transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0);opacity: 1; }
}

@keyframes bounce { 
    0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
    25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0);}
    50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
    75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}



// page style
html {
    width: 100%;
    //height: 100%;
    //overflow: hidden;
    color: @baseFontColor;

    font-size: 20px;
    font-family: "微软雅黑", "黑体", arial, Ubuntu;
}
body {
    width: 100%;
    //height: 100%;
    //overflow: hidden;
    font-size: .7rem;
}
.main-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: @bgGray;

	overflow: hidden;
    @media screen and (max-width: 480px) {
        height: 100vh;
    }
}

// user info page
#user-info {
    position: relative;
	padding: 9rem 0 2rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    background-color: @orange;
    @media screen and (max-width: 480px) {
        height: 100%;
        padding-top: 30%;
        padding-bottom: 3.75%;
    }
    .row {
        position: relative;
    }
}
.logo-zone {
    h1 {
        margin-bottom: 8rem;
        font-family: "TitleFont";
        font-weight: normal;
        color: darken(@orange, 15%);
        text-align: center;
    }
}
.head-img-zone {
    position: relative;
    .ih-item {
        left: 50%;
        margin-left: -4rem;
        .info {
            background-color: @orange;
        }
        h3,p {
            font-family: "TitleFont";
            font-weight: normal;
            color: darken(@orange, 15%);
            text-align: center;
        }
        h3 {
            font-size: 2.4rem;
            margin-top: 1.6rem;
            margin-bottom: .4rem;
        }
        a:hover {
            .info {
                background-color: darken(@orange, 3%);
                .box-shadow(0 0 6px rgba(0, 0, 0, 0.5));
            }
        }
    }
    .head-img {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
}
.motto-zone {
    margin-top: 3rem;
    text-align: center;
    color: #fff;
}
.view-more-zone {
    display: none;

    cursor: pointer;

    .cy-btn-large {
        width: 80%;
        height: 2rem;
        margin: 0 auto;

        line-height: 2rem;
        font-size: .8rem;
        text-align: center;
        color: white;

        border: 1px solid white;

        .border-radius(1rem); 
    }
    @media screen and (max-width: 480px) {
        display: block;
        padding: 2rem;
    }
}
.menu-zone {
    position: absolute;
    top: -6rem;
    right: 0;
    .cy-menu {
        display: inline-block;
        width: 2rem;
        height: 2rem;

        font-size: 1.4rem;
        color: #fff;

        //background-color: darken(@orange, 3%);
        //box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        //.border-radius(50%);

        .cy-main-item {
            text-align: center;
        }
        /*&:hover {
            .cy-subitem-list:before {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }
        }*/
    }
    .main-menu {
        /*position: relative;
        bottom: -3rem;
        display: inline-block;
        height: 3.2rem;
        width: 2.2rem;
        font-size: 1.4rem;
        color: #fff;
        line-height: 3.2rem;
        background-color: darken(@orange, 3%);
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);*/
        /*@media screen and (max-width: 480px) {
            display: none;
        }*/
    }
}

// des page
#des-page {
    overflow: hidden;

    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    @media screen and (max-width: 480px) {
        display: none;
    }
}
.des-zone {
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 2rem;

    .des-item {
        padding: 1rem;

        text-align: center;
        .fa {
            font-size: 3rem;
        }
    }
}

// article page
#article-page {
    overflow: hidden;
    padding: 2rem 0;

    .article-view {
        padding: 1rem 0;
    }
    .article-title {
        h1 {
            font-size: 1rem;
            font-weight: normal;
            color: @baseFontColor;
        }
    }
}

// foot
#footer-page {
    overflow: hidden;
    padding: 3rem 0 2rem;
    background-color: @deepBlue;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
}