<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
        <meta name="author" content="creeper yang" />
        <meta name="description" content="creeper yang blog" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title>{{ page.title }}</title>

        <link rel="stylesheet" type="text/css" href="/publics/styles/base.css" />
    </head>
    <body>
        <article class="main-wrap">
            {{ content }}
        </article>
        <script type="text/javascript" src="/publics/js/lib/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/publics/js/main.js"></script>
    </body>
</html>